@using OqtaneLabs.ContactForm.Services
@using OqtaneLabs.ContactForm.Models
@using System.Threading
@using System.Globalization

@namespace OqtaneLabs.ContactForm
@inherits ModuleBase
@inject IContactFormService ContactFormService
@inject ISettingService SettingService
@inject NavigationManager NavigationManager

<div class="mb-4" style="text-align: center;">@((MarkupString)_offer)</div>
<form method="post" @formname="ContactForm" @onsubmit="SendMessage" data-enhance>
    <input type="hidden" name="__RequestVerificationToken" value="@SiteState.AntiForgeryToken" />
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="field1" HelpText="Please enter your name">Name:</Label>
            <div class="col-sm-9">
                <input id="field1" name="field1" class="form-control" @bind="@_name" maxlength="50" />
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="field2" HelpText="Please enter your email address">Email:</Label>
            <div class="col-sm-9">
                <input id="field2" name="field2" class="form-control" @bind="@_email" maxlength="50" />
            </div>
        </div>
        @if (SettingService.GetSetting(ModuleState.Settings, "ContactForm:Message", "required") != "hidden")
        {
            <div class="row mb-1 align-items-center">
                <Label Class="col-sm-3" For="field3" HelpText="Please include a short message related to your inquiry">Message:</Label>
                <div class="col-sm-9">
                    <textarea id="field3" name="field3" class="form-control" @bind="@_message" rows="5" maxlength="1000"></textarea>
                </div>
            </div>
        }
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="field4" HelpText="Please indicate that you are not a robot">Verification:</Label>
            <div class="col-sm-9">
                <input type="checkbox" id="field4" name="field4" class="me-1" onclick="document.getElementById('field6').value = (new Date()).toISOString().slice(0,19).replace('T',' ')">
                <label class="form-check-label">I'm not a robot!</label>
            </div>
        </div>
    </div>
    <div class="mt-4" style="text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <input type="hidden" id="field5" name="field5" @bind="@_validation1" />
    <input type="hidden" id="field6" name="field6" @bind="@_validation2" />
    <input type="hidden" id="field7" name="field7" @bind="@_validation3" />
</form>

@code {
    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    public override string RenderMode => RenderModes.Static;

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Name { get => ""; set => _name = value; }

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Email { get => ""; set => _email = value; }

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Message { get => ""; set => _message = value; }

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Validation1 { get => ""; set => _validation1 = value; }

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Validation2 { get => ""; set => _validation2 = value; }

    [SupplyParameterFromForm(FormName = "ContactForm")]
    public string Validation3 { get => ""; set => _validation3 = value; }

    private string _offer = "";

    private string _name = ""; // name
    private string _email = ""; // email
    private string _message = ""; // message
    private string _validation1 = ""; // validation
    private string _validation2 = "true"; // validation
    private string _validation3 = DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture);

    private int _mintime = 5; // 5 second minimum
    private int _maxtime = 3600; // 1 hour maximum

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _offer = SettingService.GetSetting(ModuleState.Settings, "ContactForm:Offer", "");
            if (string.IsNullOrEmpty(_offer) && UserSecurity.IsAuthorized(PageState.User, RoleNames.Admin))
            {
                AddModuleMessage("You Must Configure This Contact Form In Module Settings", MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Contact Form {Error}", ex.Message);
            AddModuleMessage("Error Loading Contact Form", MessageType.Error);
        }
    }

    private async Task SendMessage()
    {
        // form validation
        var messageValid = true;
        if (SettingService.GetSetting(ModuleState.Settings, "ContactForm:Message", "required") == "required")
        {
            messageValid = !string.IsNullOrEmpty(_message);
        }
        if (!string.IsNullOrEmpty(_name) && !string.IsNullOrEmpty(_email) && Utilities.IsValidEmail(_email) && messageValid)
        {
            // bot validation
            if (_validation1.Length == 0 && _validation2.Length == 19 && DateTime.TryParseExact(_validation2, "yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime timestamp1) &&
              _validation3.Length == 19 && DateTime.TryParseExact(_validation3, "yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime timestamp2) &&
              (timestamp1 - timestamp2).TotalSeconds >= _mintime && (timestamp1 - timestamp2).TotalSeconds <= _maxtime &&
              (DateTime.UtcNow - timestamp2).TotalSeconds >= _mintime && (DateTime.UtcNow - timestamp2).TotalSeconds <= _maxtime)
            {
                // only allow visitors to submit a form once per day
                var settings = await SettingService.GetVisitorSettingsAsync(PageState.VisitorId);
                if (!settings.ContainsKey("SubmittedOn") || settings["SubmittedOn"] != DateTime.UtcNow.ToString("yyyy-MMM-dd"))
                {
                    try
                    {
                        var delivery = SettingService.GetSetting(ModuleState.Settings, "ContactForm:Delivery", "email");
                        var response = SettingService.GetSetting(ModuleState.Settings, "ContactForm:Response", "");

                        var contactform = new ContactForm();
                        contactform.SiteId = PageState.Site.SiteId;
                        contactform.Name = _name;
                        contactform.Email = _email;
                        contactform.Message = _message;
                        contactform.Title = ModuleState.Title;
                        contactform.Recipient = SettingService.GetSetting(ModuleState.Settings, "ContactForm:Recipient", "");
                        contactform.Response = (delivery != "browser") ? response : "";
                        contactform.VisitorId = PageState.VisitorId;

                        await ContactFormService.AddContactFormAsync(contactform);

                        SettingService.SetSetting(settings, "SubmittedOn", DateTime.UtcNow.ToString("yyyy-MMM-dd"));
                        await SettingService.UpdateVisitorSettingsAsync(settings, PageState.VisitorId);

                        _name = "";
                        _email = "";
                        _message = "";
                        _validation1 = "";
                        _validation2 = "true";
                        _validation3 = DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture);

                        if (delivery != "email")
                        {
                            AddModuleMessage(response, MessageType.Success);
                        }
                        else
                        {
                            AddModuleMessage("Thank You! You Should Expect A Response By Email Shortly.", MessageType.Success);
                        }
                    }
                    catch
                    {
                        AddModuleMessage("Error Sending Message", MessageType.Error);
                    }
                }
                else
                {
                    AddModuleMessage("Please Be Patient... You Should Receive An Email Response Shortly.", MessageType.Success);
                }
            }
            else
            {
                // clear fields for bot
                _name = "";
                _email = "";
                _message = "";
                _validation1 = "";
                _validation2 = "false";
                _validation3 = DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture);
            }
        }
        else
        {
            AddModuleMessage("Please Enter All Required Fields", MessageType.Warning);
        }
    }
}